.form-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  margin-left: 15%;
}

.name-region {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul.list {
  color: white;
  background-color: #121212;
}

input::placeholder {
  color: rgb(141, 138, 138);
}

.divStyle {
  background: white;
  border: 1px solid #ccc;
  padding: 30;
}
