.map{
  display: flex;
  justify-content: center;

  z-index: 0;
}

.customdiv {
  width: 70%;
  margin-left: 17.5rem;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul.list {
 color: white;
 background-color: #121212;
}

.selectBox {
  background-color: #121212;
}

input::placeholder {
  color: rgb(141, 138, 138);
}

.container {
  margin: 3% 0;
}

.divStyle {
  background: white;
  border: 1px solid #ccc;
  padding: 30;
}

.viewcontainer {
  display: flex;
  flex-direction:column;

  margin-top: 5%;
}
